<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h1><h:outputLabel value="PROJECTS LIST"/></h1>
</f:view>
<h:head>
</h:head>

<body>
<p:dataTable value="#{projectController.getProjectDTOList()}" var="projectDTO">
    <p:column headerText="ID" width="200">
        <h:outputText value="#{projectDTO.id}"/>
    </p:column>

    <p:column headerText="NAME" style="width: 15%">
        <p:outputLabel value="#{projectDTO.name}"/>
    </p:column>

    <p:column headerText="DESCRIPTION" style="width: 20%">
        <p:outputLabel value="#{projectDTO.description}"/>
    </p:column>

    <p:column headerText="DATE BEGIN" style="width: 15%">
        <p:outputLabel value="#{projectDTO.dateBegin}"/>
    </p:column>

    <p:column headerText="DATE END" style="width: 15%">
        <p:outputLabel value="#{projectDTO.dateEnd}"/>
    </p:column>

    <p:column headerText="STATUS" style="width: 15%">
        <p:outputLabel value="#{projectDTO.statusType}"/>
    </p:column>

    <p:column headerText="" style="width: 20%">
        <p:commandButton value="DELETE" actionListener="#{projectController.delete(projectDTO.id)}" action="pretty:"/>
        <h:form>
            <p:button value="EDIT" outcome="projectEdit" includeViewParams="true">
                <f:param name="projectEditFormId" value="#{projectDTO.id}"/>
            </p:button>
        </h:form>
        <h:form>
            <p:button value="VIEW" outcome="taskList" includeViewParams="true">
                <f:param name="taskListFormId" value="#{projectDTO.id}"/>
            </p:button>
        </h:form>
    </p:column>

</p:dataTable>
<p/>
<p:commandButton value="CREATE EMPTY PROJECT" actionListener="#{projectController.createEmptyProject()}"
                 action="pretty:"/>
<p:button value="CREATE WITH EDIT" outcome="projectEdit"/>
</body>
</html>
