<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h1><h:outputLabel value="EDIT TASK"/></h1>
</f:view>
<h:head>
    <f:metadata>
        <f:viewParam name="taskEditFormId" value="#{taskController.taskId}"/>
        <f:viewAction action="#{taskController.setTempTaskDTO()}"/>
    </f:metadata>
</h:head>

<h:body>
    <h:form>
        <p:outputLabel for="taskName" value="NAME:"/>
        <br/>
        <p:inputText id="taskName" value="#{taskController.tempTaskDTO.name}" style="width: 300px"/>
        <br/>

        <p:outputLabel for="taskDescription" value="DESCRIPTION:"/>
        <br/>
        <p:inputText id="taskDescription" value="#{taskController.tempTaskDTO.description}"
                     style="width: 300px"/>
        <br/>

        <p:outputLabel for="taskDateBegin" value="DATE BEGIN:"/>
        <br/>
        <p:calendar id="taskDateBegin" value="#{taskController.tempTaskDTO.dateBegin}" style="width: 300px"/>
        <br/>

        <p:outputLabel for="taskDateEnd" value="DATE END:"/>
        <br/>
        <p:calendar id="taskDateEnd" value="#{taskController.tempTaskDTO.dateEnd}" style="width: 300px"/>
        <br/>

        <p:outputLabel for="taskStatus" value="STATUS:"/>
        <br/>
        <p:selectOneMenu id="taskStatus" value="#{taskController.tempTaskDTO.statusType}" style="width: 300px">
            <f:selectItems value="#{taskController.statusTypeMap.entrySet()}" var="entry"
                           itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
        </p:selectOneMenu>

        <p/>

        <p:commandButton value="SAVE" action="#{taskController.edit()}"/>
    </h:form>
</h:body>
</html>