<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h1><h:outputLabel value="TASKS LIST"/></h1>
</f:view>
<h:head>
    <f:metadata>
        <f:viewParam name="taskListFormId" value="#{taskController.projectId}"/>
        <f:viewAction action="#{taskController.setTaskDTOList()}"/>
    </f:metadata>
</h:head>

<body>
<p:dataTable value="#{taskController.getTaskDTOList()}" var="taskDTO">
    <p:column headerText="ID" width="200">
        <h:outputText value="#{taskDTO.id}"/>
    </p:column>

    <p:column headerText="PROJECT ID" style="width: 15%">
        <h:outputText value="#{taskDTO.projectId}"/>
    </p:column>

    <p:column headerText="NAME" style="width: 15%">
        <p:outputLabel value="#{taskDTO.name}"/>
    </p:column>

    <p:column headerText="DESCRIPTION" style="width: 20%">
        <p:outputLabel value="#{taskDTO.description}"/>
    </p:column>

    <p:column headerText="DATE BEGIN" style="width: 15%">
        <p:outputLabel value="#{taskDTO.dateBegin}"/>
    </p:column>

    <p:column headerText="DATE END" style="width: 15%">
        <p:outputLabel value="#{taskDTO.dateEnd}"/>
    </p:column>

    <p:column headerText="STATUS" style="width: 15%">
        <p:outputLabel value="#{taskDTO.statusType}"/>
    </p:column>

    <p:column headerText="" style="width: 20%">
        <p:commandButton value="DELETE" actionListener="#{taskController.delete(taskDTO.id)}" action="pretty:"/>
        <h:form>
            <p:button value="EDIT" outcome="taskEdit" includeViewParams="true">
                <f:param name="taskEditFormId" value="#{taskDTO.id}"/>
            </p:button>
        </h:form>
    </p:column>

</p:dataTable>
<p/>
<p:commandButton value="CREATE EMPTY TASK" actionListener="#{taskController.createEmptyTask()}" action="pretty:"/>
<p:button value="CREATE WITH EDIT" outcome="taskEdit"/>
<p:button value="GO TO ALL PROJECTS" outcome="projectListJsf" style="float: right;"/>
</body>
</html>